<div class="container-fluid">
<%= form_with(model: [ @category, @category.subcategories.build ], local: true) do |f|%>
  <%= f.label :name %><br>
  <%= f.text_field :name, placeholder:"Enter Subcategory Name", class: "form-control" %><br>
  <%= form.label :image %><br>
  <%= form.file_field :image %>
  </p>
  <%= f.submit class: "btn btn-success"%><br><br>
<% end %>
</div>